<div id="map" class="map"><div id="info"></div>
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Profile Picture
    </div>
    <div class="image content">
      <div class="ui medium image">
        <img src="../../assets/welcome.jpg">
      </div>
      <div class="description">
        <div class="ui header">Hi..</div>
        <p class="custom letters"></p>
      </div>
    </div>
    <div class="actions">
      <div class="ui black deny button">
        Nope Not this
      </div>
      <div class="ui positive right labeled icon button">
        Yep, that's the Coutry
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
</div>